<div style="min-height: calc(100vh - 100px);">

  <mat-toolbar>
    <h1 class="capitalize">Policies</h1>
    <button mat-icon-button (click)="opendialogCreate()">
      <mat-icon>add_box</mat-icon>
    </button>
  </mat-toolbar>
  
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  
    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id. </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> Description </th>
      <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="dateStart">
      <th mat-header-cell *matHeaderCellDef> Date Start </th>
      <td mat-cell *matCellDef="let element"> {{element.dateStart}} </td>
    </ng-container>

    <ng-container matColumnDef="period">
      <th mat-header-cell *matHeaderCellDef> Period </th>
      <td mat-cell *matCellDef="let element"> {{element.period}} </td>
    </ng-container>

    <ng-container matColumnDef="dateEnd">
      <th mat-header-cell *matHeaderCellDef> Date End </th>
      <td mat-cell *matCellDef="let element"> {{element.dateEnd}} </td>
    </ng-container>

    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef> Price </th>
      <td mat-cell *matCellDef="let element"> {{element.price}} </td>
    </ng-container>

    <ng-container matColumnDef="coverageName">
      <th mat-header-cell *matHeaderCellDef> Coverage Type </th>
      <td mat-cell *matCellDef="let element"> {{element.coverageName}} </td>
    </ng-container>

    <ng-container matColumnDef="coverage">
      <th mat-header-cell *matHeaderCellDef>  Porcentage </th>
      <td mat-cell *matCellDef="let element"> {{element.coveragePorcentage}}% </td>
    </ng-container>

    <ng-container matColumnDef="riskName">
      <th mat-header-cell *matHeaderCellDef> Risk Type </th>
      <td mat-cell *matCellDef="let element"> {{element.riskName}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let element"> 
        <button mat-icon-button (click)="editPolicy(element.id)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button (click)="removePolicy(element.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
  </table>

</div>